body {
  margin: 0px;
  padding: 0px;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
}

.rotate {
  max-width: 1.75em;
  max-height: 1.75em;
  vertical-align: middle; 
}

.left90 {
  /*transform: scaleX(0);*/
}

.left180 {
  transform: rotate(-90deg); 
}

.left270 {
  transform: rotate(-180deg);
}

.left360 {
  transform: rotate(-270deg);
}

.flip {
  transform: rotate(90deg) scaleX(-1);
}

.hidden {
  display: none;
}

.smallem {
  font-style: italic;
  font-size: .9em;
}

@media screen and (max-width: 400px) {
  form {
    margin: 0 auto .5em auto
  }
  input[type=text] {
    width: 100%;
  }

  nav#foot-nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 1200px) { 
  .link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }

  div.grid-layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  
  div.grid-header {
    display: inherit;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  div.grid-sidebar-left {
    display: inherit;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  div.grid-sidebar-left  aside {
    padding: 1em;
  }

  nav.sidebar-nav-wrapper ul {
    list-style: none;
    display: grid;
    grid-template-rows: auto;
  }
  
  div.grid-content {
    display: inherit;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  div.grid-gutter-right {
    display: inherit;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  div.grid-footer {
    display: inherit;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  header {
    background-color: #b59575;
    width: 100%;
    padding: 0px 0px;
    margin: 0px auto;
    border-bottom: 1px solid black;
  }
  
  a#skipnav {
    position: absolute;
    left: -1000px; 
  }
  
  #masthead {
    width: 400px;
    margin: 0px auto;
  }
  
  #masthead h1 {
    font-weight: normal;
    font-size: 2em;
    margin-top: 0;
    padding-top: 0em;
    margin-bottom: 0.25em;
  }
  
  #masthead h1 a, #masthead h1 a:active, #masthead h1 a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav {
    position: relative;
  }
  
  .crumbs {
    display: inline-block;
  }
  
  li.crumbs {
    list-style-type: none;
  }
  
  .crumbs a::after {
    display: inline-block;
    color: #000000;
    content: '>';
    font-size: 80%;
    font-weight: 700;
    padding: 0px 3px;
  }
  
  li.login {
    display: inline-block;
    list-style-type: none;
    font-size: 0.85em;
  }
  
  .login a::after {
    display: inline-block;
    content: '';
  }
  
  nav ol {
    margin-left: 0px;
    padding-left: 0px;
  }
  
  h1 {
    font-weight: normal;
    font-size: 2em;
    margin-top: 0;
    padding-top: 0em;
    margin-bottom: 0.25em;
  }
  
  h2 {
    font-weight: normal;
    font-size: 1.8em;
    margin-top: 0;
    padding-top: 0em;
    margin-bottom: 0.25em;
  }
  
  h3 {
    font-weight: normal;
    font-size: 1.6em;
    margin-top: 0;
    padding-top: 0em;
    margin-bottom: 0.25em;
  }
  
  h4 {
    font-weight: normal;
    font-size: 1.4em;
    margin-top: 0;
    padding-top: 0em;
    margin-bottom: 0.25em;
  }
  
  main {
    margin: 0px;
    padding: 1em;
    width: auto;
  }
  
  main article {
    margin: 0px auto;
  }
  
  main article section {
  
  }
  
  main article h1 {
    font-size: 100%;
  }
  
  main article h2 {
    font-size: 95%;
  }
  
  div.info {
    color: yellow;
  }

  div.messages {
    color: green;
  }

  div.messages::before {
    content: "\2713";
  }

  div.errors {
    color: red;
  }

  div.errors::before {
    content: "\274C";
    font-size: 0.65em;
  }

  div.account-details {

  }

  img#punchcard {
    vertical-align: top;
  }

  dl.viewUser {

  }
  
  div.recentlyAdded {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: max-content;
    gap: 20px;
    position: relative;
  }

  div.recentlyAddedAlbum {
    border: 1px solid black;
  }

  div.recentlyAddedAlbum > figure {
    margin: .25em;
    max-width: 200px;
    max-height: 250px;
  }

  div.recentlyAddedAlbum > figure > a > img {
    max-width: 200px;
    max-height: 300px;
    /* width: 200px; */
    height: 150px;
    margin: auto;
    display: block;
    margin-bottom: .5em;
  }

  img.trashcan {
    position: relative;
    top: 5px;
    width: 20px;
  }

  section.adminList {
    margin: 1em 0px;
  }

  section.creatorList {
    margin: 1em 0px;
  }

  section.userList {
    margin: 1em 0px;
  }

  div.account-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
    width: auto;
  }

  div.account-list > div.user {
    justify-self: start;
  }

  div.account-list > div.status {
    justify-self: start;
  }

  div.account-list > div.view {
    justify-self: center;
  }

  div.account-list > div.edit {
    justify-self: center;
  }

  div.account-list > div.delete {
    justify-self: center;
  }

  div.account-list > div.gridspan {
    grid-column: 1/6;
    justify-self: center;
  }

  div.account-list > div:nth-of-type(2n+5) {
  }

  span.deleteImage {
    position: relative;
    top: 0px;
    display: block;
    text-align: right;
    cursor: pointer;
  }

  dialog > span#yes {
    position: relative;
    padding-top: .5em;
    padding-left: 2em;
    float: right;
    cursor: pointer;
  }

  dialog > span#no {
    position: relative;
    padding-top: .5em;
    padding-right: 2em;
    float: left;
    cursor: pointer;
  }

  div.account-tokens dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 1em;
    width: 800px;
  }

  div.account-tokens dl dt {
    grid-column: 1;
  }

  div.account-tokens dl dd {
    grid-column: 2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: none;
    width: inherit;
  }

  form {
    margin: 25px auto; 
    width: 100%;
  }
  
  div.wrapper {
    display: grid;
    grid-template-columns: .75fr 2fr;
    grid-row-gap: .125em;
    column-gap: 1px; 
    justify-items: start;
  }

  div.wrapper.account-details > dt {
    display: inline-block;
  }
  
  div.wrapper.account-details > dd {
    display: inline-block;
  }
  
  label {
  }
  
  input[type="text"] {
    width: 100%; 
  }
  
  input[type="button"] {
    display: inline-block;
    margin: 10px 10px 0px 0px;
  }
  
  footer {
    background-color: #b59575;
    width: 100%;
    padding: 0px 0px;
    margin: 0px auto;
    border-bottom: 1px solid black;
  }
  
  #mastfoot {
    width: 400px;
    margin: 0px auto;
  }
  
  #mastfoot h4 {
    font-weight: normal;
    font-size: 1.0em;
    margin-top: 0;
    padding-top: 0.5em;
    margin-bottom: 0.25em;
  }
  
  #mastfoot h4 a, #mastfoot h4 a:active, #mastfoot h4 a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav#foot-nav ol {
    margin: 10px 0px;
    padding: 0px;
    font-size: .8em;
  }
}
