:root {
  touch-action: pan-x pan-y;
  height: 100%
}

html {

}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  color: #000000;
}

body > header {
  width: 100vw;
  height: 8vh;
}

h1,h2,h3,h4 {
  margin: 0px;
}


a#skipnav {
  position: absolute;
  left: -1000px; 
}

div#header {
  
}

div#header > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

nav#nav > div {
  min-height: 100%;
  height: 8vh;
  background-color: lightgray;
  flex-grow: 1;
  margin-right: 1px;
  align-items: center;
  display: flex;
  justify-content: center;
}

span.hikingpng {
  content: url('/i/hiking.png');
  max-width: 1.5em;
  padding: 10px 10px 10px 10px;
  background-color: palegoldenrod;
  border-radius: .5em;
  flex-grow: 1;
  cursor: pointer;
}

span.listpng {
  content: url('/i/list.png');
  max-width: 1.5em;
  padding: 10px 10px 10px 10px;
  background-color: palegoldenrod;
  border-radius: .5em;
  flex-grow: 1;
  cursor: pointer;
}

span.mapspng {
  content: url('/i/maps.png');
  max-width: 1.5em;
  padding: 10px 10px 10px 10px;
  background-color: palegoldenrod;
  border-radius: .5em;
  flex-grow: 1;
  cursor: pointer;
}

span.userpng {
  content: url('/i/user.png');
  max-width: 1.5em;
  padding: 10px 10px 10px 10px;
  background-color: palegoldenrod;
  border-radius: .5em;
  flex-grow: 1;
  cursor: pointer;
}

div#map {
  width: 100vw;
  /* height: 92vh; */
  background-color: #212223;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#container {
  position: absolute;
  top: 10vh;
  left: 4.5vw;
  z-index: 100;
  width: 90vw;
  height: auto;
  margin: 0 auto;
}

div#login {
  display: none;
  width: auto;
  background-color: white;
  border-radius: .5em;
  padding: .5em 0em .5em .75em;
}

div#login > div#welcomeId {
  display: none;
}

div#list {
  display: none;
  width: auto;
  background-color: white;
  border-radius: .5em;
  padding: .25em;
}

div#list > h3 {
  margin: 0px;
  font-size: 1em;
}

div#list > p, ul {
  font-size: .75em;
}

div#app {
  display: none;
  width: auto;
  background-color: white;
  border-radius: .5em;
  padding: .25em;
}

div#app > h3 {
  margin: 0px;
  font-size: 1em;
}

div#app > p {
  font-size: .75em;
}

@media screen and (max-width: 400px) {
  form {
    margin: 0 auto .5em auto
  }
  input[type=text] {
    width: auto;
  }

  input[type=password] {
    width: auto;
  }

  textarea {
    width: 100%;
    display: block;
  }

  nav#foot-nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 1200px) { 
 
}
