<main id="main-content">
  <article>
    <h1>Things About Which to Become Familiar</h1>
    
    <p>I am me.</p>
    <p>I, on occasion, do things.  Sometimes that means I make stuff.</p>
    <p>I like bikes.</p>
    <p>I try to write code, but sometimes I am not good at ignoring the distractions.</p>
  </article>
</main>
