<main id="main-content">
  <article>
    <h1>Contact Mattmadethese</h1>
    <ul>
      <li>Email - majordomo@ancient.email.arpanet</li>
      <li>Scream this name into the wind</li>
      <li>Mastadon - a giant elephant-like creature that toots (in german apparently)</li>
      <li>Punch Card - <img id="punchcard" src="/i/punchcard.png"></li>
    </ul>
  </article>
</main>
