<main id="main-content">
  <article>
    <section>
      <h1 class="login">Login</h1>
      <form name="login" id="login" action="/login" method="post">
        <fieldset id="login_fieldset" name="login_fieldset" form="login" class="login_fieldset" title="Login Form">
          <legend>Mattmadethese</legend>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" value="">
            <br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" value="">
            <input type="hidden" id="csrf-token" name="csrf-token" value="<%=
  csrfToken %>">
            <br>
            <input type="button" id="submit" name="submit" value="Login">
            <input type="reset" id="reset" name="reset" value="Reset">
        </fieldset>
      </form>
    </section>
  </article>
</main>
