<main id="main-content">
  <article>
    <section>
      <h1 class="login">Login</h1>
      <form name="login" id="login" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
        <fieldset id="login_fieldset" name="login_fieldset" form="login" class="login_fieldset" title="Login Form">
          <legend>Mattmadethese</legend>
            <% if (messages?.login) { %>
            <div id="messages" class="messages">
              <span><%= messages.login.message %></span>
            </div>
            <% } %>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" value="<%= messages?.login?.username %>">
            <br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" value="">
            <input type="hidden" id="csrf-token" name="csrf-token" value="<%=
  csrfToken %>">
            <br>
            <input type="submit" id="submit" name="submit" value="Login">
            <input type="reset" id="reset" name="reset" value="Reset">
        </fieldset>
      </form>
    </section>
  </article>
</main>
