<main id="main-content">
  <article>
    <h1>Render this into a static file</h1>
    
    <p>Make this a static HTML file.</p>
    <p>Save it to a variable.</p>
    <p>Save the contents of that variable into a file on the file system.</p>
    <p>Serve that file out instead of recreatign it each time.</p>
  </article>
</main>
