<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title -%></title>
    <link rel="stylesheet" href="/c/main.css">
  </head>
  <body>

    <%- await include('./partials/header') -%>
    <h3>koa ejs</h3>
    <%- body %>
    <%- await include('./partials/footer') -%>

  </body>
</html>
