<main id="main-content">
  <article>
    <section>
      <h1 class="httpStatusCode">HTTP <%- status -%></h1>
      <h2 class="httpErrorMessage"><%= message -%></h2>
    </section>
  </article>
</main>
