<header>
  <a id="skipnav" href="#main-content">Skip to main content</a>
  <div id="header">
    <nav id="nav" aria-label="Main">
      <div>
        <span data-action="showLogin" class="userpng"></span>
        <span data-first="" style="margin-left: 5px;">
          <% if (isAuthenticated) { %>
          <%= sessionUser?.first %>
          <% } %>
        </span>
      </div>
      <div><span data-action="showList" class="userpng"></span></div>
      <div><span data-action="showNew" class="userpng"></span></div>
    </nav>
    <script nonce="<%= nonce %>">
      document.addEventListener("DOMContentLoaded", (event) => {
        const buttons = Array.from(document.querySelector('nav#nav').children)
        buttons.forEach((b) => {
          if (b.firstElementChild.dataset) {
            const button = b.firstElementChild
            button.addEventListener('click', (e) => {
              e.preventDefault()
              e.stopPropagation()
              function actionName(fnName, a) {
                return this[fnName](a)
              }
              actionName(button.dataset.action, button.dataset.action) 
            })
          }
        })
      })

      function showLogin(o) {
        const container = document.querySelector('div#container')
        const app = container.querySelector('div#app')
        if (app.style.display !== 'none') app.style.display = 'none'
        const login = container.querySelector('div#login')
        // login.style.display = 'block'
        toggleTab(login.dataset.tab)
        const form = login.children[0]
        const submit = form.elements.submit
        submit.addEventListener('click', async (e) => {
          e.preventDefault()
          e.stopPropagation()
          console.log('trying to login.')
        })
        const cancel = form.elements.cancel
        cancel.addEventListener('click', (e) => {
          e.preventDefault()
          e.stopPropagation()
          console.log(app.dataset.tab)
          toggleTab(app.dataset.tab)
          // login.style.display = 'none'
          // app.style.display = 'block'
        })
      }
      function showList(o) {
        alert(o)
      }
      function showNew(o) {
        alert(o)
      }
      function toggleTab(t) {
        const app = document.querySelector('div#app')
        const tab = document.querySelector(`div[data-tab="${t}"]`)
        console.log(tab) 
        console.log('t: ', t, 'style: ', tab.style.display)
        switch(t) {
          case 'login':
            if (tab.style.display === '' || tab.style.display === 'none') {
              tab.style.display = 'block'
              app.style.display = 'none'
            } else {
              tab.style.display = 'none'
              app.style.display = 'block'
            }
            break
          default:
            document.querySelectorAll('[data-tab]').forEach((t) => {
              if (t.dataset.tab == 'app') {
                  t.style.display = 'block'
              } else {
                  t.style.display = 'none'
              }
            }) 
        }
      }
    </script>
    <% if (locals) { %>
      <%- '<!-- html comment -->' %>
    <% } %>
  </div>
</header>
