<header>
  <a id="skipnav" href="#main-content">Skip to main content</a>
  <div id="header">
    <nav id="nav" aria-label="Main">
      <div>
        <span data-action="showLogin" class="userpng"></span>
        <span style="margin-left: 5px;">
          <% if (isAuthenticated) { %>
          <%= sessionUser?.first %>
          <% } %>
        </span>
      </div>
      <div><span data-action="list" class="userpng"></span></div>
      <div><span data-action="list" class="userpng"></span></div>
    </nav>
    <script nonce="<%= nonce %>">
      document.addEventListener("DOMContentLoaded", (event) => {
        const buttons = Array.from(document.querySelector('nav#nav').children)
        buttons.forEach((b) => {
          if (b.firstChild.dataset) {
            b.firstChild.addEventListener('click', (e) => {
              e.preventDefault()
              e.stopPropagation()
              alert(b.firstChild.dataset.action)
            })
          }
        })
      })
      
    </script>
    <% if (locals) { %>
      <%- '<!-- html comment -->' %>
    <% } %>
  </div>
</header>
