<header>
  <a id="skipnav" href="#main-content">Skip to main content</a>
  <div id="masthead">
    <h1><a href="/">walk.genevalakepiers.com</a></h1>
    <nav id="main-nav" aria-label="Main">
    </nav>
    <% if (locals) { %>
      <%- '<!-- html comment -->' %>
    <% } %>
  </div>
</header>
