<footer>
  <div id="mastfoot">
    <h4>&copy; 2023 Mattmadethese</h4>
    <nav id="foot-nav" aria-label="Main">
      <ol>
        <li class="crumbs"><a href="/">Home</a></li>
        <li class="crumbs"><a href="/galleries">Galleries</a></li>
        <li class="crumbs"><a href="/blog">Blog</a></li>
        <li class="crumbs"><a href="/about">About</a></li>
        <li class="crumbs"><a href="/contact">Contact</a></li>
      </ol>
    </nav>
  </div>
</footer>
