<section id="grid-gutter-left" class="grid-gutter-left">
  <aside>
    <nav class="sidebar-nav-wrapper">
      <% if (isAuthenticated) { %>
      <div id="loggedInAs">
        <%- sessionUser.displayName -%>
      </div>
      <a href="/logout">Logout</a>
      <ul id="userLinks" class="userLinks">
        <li><a href="/account/view">View account details</a></li>
        <li><a href="/account/pubkeys">Public Keys</a></li>
        <li><a href="/account/tokens">Authetication tokens</a></li>
        <li><a href="/account/change/password">Change account password</a></li>
      </ul>
      <% } else { %>
      <a href="/login">Login</a>
      <% } %>
      <% if (/admin/i.test(sessionUser?.type)) { %>
      Admin level actions go here
      <ul id="adminLinks" class="adminLinks">
        <li><a href="/admin/account/listusers">List users</a><li> 
        <li><a href="/admin/app/keys">Server keys</a></li>
      </ul>
      <% } %>
    </nav>
  </aside>
</section>
