<main id="main-content">
  <article>
    <section>
      <h1 class="httpStatusCode"><%- status -%></h1>
      <h2 class="httpErrorMessage"><%- message -%></h2>
      oops!
    </section>
  </article>
</main>
