<main>
  <article>
    <h1>Change Account Password</h1>
    
    <div class="account-password">
      <form name="passwordEdit" id="edit" action="/account/change/password" method="POST" enctype="application/x-www-form-urlencoded">
        <fieldset id="edit_fieldset" name="edit_fieldset" form="edit" class="edit_fieldset" title="edit Form">
          <legend>Mattmadethese</legend>
            <% if (flash.message) { %>
            <div id="messages" class="messages">
              <span><%= flash.message %></span>
            </div>
            <% } %>
            <% if (flash.error) { %>
            <div id="errors" class="errors">
              <span><%= flash.error %></span>
            </div>
            <% } %>
            <div class="wrapper">
              <label for="currentPassword">Current Password: </label>
              <input type="password" size="45" tabindex="1" id="currentPassword" name="currentPassword" autocomplete="current-password" value="">
              
              <label for="newPassword1">New Password: </label>
              <input type="password" size="45" tabindex="2" id="newPassword1" name="newPassword1" autocomplete="new-password" value="">
              
              <label for="newPassword2">Confirm New Password: </label>
              <input type="password" size="45" tabindex="3" id="newPassword2" name="newPassword2" autocomplete="new-password" value="">
                            
             <input type="hidden" id="csrf-token" name="csrf-token" value="<%= csrfToken %>">
            </div> 

            <input type="submit" tabindex="11" id="submit" name="submit" value="Change Password">
            <input type="reset" tabindex="12" id="reset" name="reset" value="Reset">
        </fieldset>
      </form>
    </div>
  </article>
</main>

